.description {
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 3px;
  width: 400px;
}

.iconsContainer {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.proTipContainer {
  align-items: flex-start;
  display: flex;
}
