@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.menuOpen,
.menuClosed {
  background: white;
  border-radius: 4px;
  box-shadow: 0 12px 19px 0 rgba(0, 0, 0, 0.03),
    0 -12px 19px 0 rgba(0, 0, 0, 0.03);
  color: rgba(33, 33, 33, 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  left: 50%;
  margin-left: -11.1rem;
  padding: 1.4rem;
  position: absolute;
  width: 19.3rem;
}

.header {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.subFilterList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filterUnselected,
.filterSelected {
  height: 1.4rem;
  margin-top: 0.4rem;
  width: 4.3rem;
}

.categorySelected:hover,
.filterSelected:hover,
.categoryUnselected:hover,
.filterUnselected:hover {
  cursor: pointer;
}

.categorySelected,
.filterSelected,
.categoryUnselected:hover,
.filterUnselected:hover {
  color: #00736a;
}

.categoriesContainer {
  display: grid;
  grid-column: 1/3;
  margin-top: 2rem;
}

.categoryListWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.categoryListLeft,
.categoryListRight {
  list-style: none;
  margin: 0;
  padding: 0;
}
.categoryListLeft {
  grid-column: 1;
}
.categoryListRight {
  grid-column: 2;
}

.categoryUnselected,
.categorySelected {
  margin: 0.9rem 0;
}
