.listItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.listItem:hover {
  cursor: pointer;
}

.wishlistItem,
.listItemButton,
.existingListItemButton {
  background-color: white;
  border: none;
}

.nookName {
  font-family: 'Karla';
  font-size: 16px;
  margin-left: 14px;
}

.smallBox {
  border-style: solid;
  border-width: 2px;
  height: 10px;
  margin-right: 20px;
  width: 10px;
}
.existingListItemButton:hover {
  cursor: default;
}
