html,
body,
main {
  height: 100%;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #f5f8f6;
}

.headline {
  color: #000000;
}

.greeting {
  color: #404040;
}
