.navBar {
  align-items: center;
  background-color: #ffc32d;
  display: flex;
  height: 73px;
  justify-content: space-between;
}

.logo {
  margin-left: 39px;
  width: 9.2rem;
  padding-top: 9px;
}

.navContentLeft,
.navContentRight {
  display: flex;
  align-items: center;
}
