@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.menuOpen,
.menuClosed {
  background: white;
  list-style: none;
  margin: auto;
  border-radius: 4px;
  width: 16.1rem;
  padding: 1.4rem;
  color: #212121;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Karla', sans-serif;
}
.menuOpen {
  height: 24.75rem;
  opacity: 1;
  box-shadow: rgba(43, 76, 60, 0.25098) 0rem 1rem 0.9rem;
}
.menuClosed {
  height: 0;
  opacity: 0;
  box-shadow: rgba(43, 76, 60, 0.25098) 0rem 0rem 0rem;
}

.header {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.subFilterList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterUnselected,
.filterSelected {
  width: 5.3rem;
  height: 1.3rem;
  padding: 0.4rem 0.4rem 0 0;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.filterUnselected:active,
.filterSelected:active {
  transform: scale(0.9);
}

.filterUnselected:active,
.filterUnselected:hover,
.filterSelected {
  padding-left: 0.5rem;
  border-radius: 4px;
}

.filterUnselected:active {
  background: #11ff88 !important;
  box-shadow: #088b34 0rem 0.1rem 0.1rem !important;
}

.filterUnselected:hover {
  background: #7ff1a5;
  box-shadow: #146b31 0rem 0.1rem 0.2rem;
}

.filterSelected {
  background: #fec32d;
  box-shadow: #a77b0b 0rem 0.2rem 0.2rem;
}

.filterSelected:hover {
  background: #ff7800;
  box-shadow: #bd600f 0rem 0.2rem 0.2rem;
}

.filterSelected:active {
  background: #ec3434;
  box-shadow: #3a0909 0rem 0.1rem 0.1rem;
}

.gridItemOn,
.gridItemOff {
  flex: 0 0 32%;
  display: inline-block;
  margin: 0rem 0.3rem 0 0;
}

.gridItemOff {
  color: #d8d8d8;
}

.categoriesWrapper {
  grid-column: 1/3;
  display: grid;
  margin-top: 2rem;
}

.categoryListWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.categoryListLeft,
.categoryListRight {
  list-style: none;
  margin: 0;
  padding: 0;
}
.categoryListLeft {
  grid-column: 1;
}
.categoryListRight {
  grid-column: 2;
}

.category {
  font-size: 0.9rem;
  margin: 0.9rem 0;
}
