.filterUnselected,
.filterSelected {
  height: 1.4rem;
  margin-top: 0.4rem;
  width: 4.3rem;
}

.categorySelected:hover,
.filterSelected:hover,
.categoryUnselected:hover,
.filterUnselected:hover {
  cursor: pointer;
}

.categorySelected,
.filterSelected,
.categoryUnselected:hover,
.filterUnselected:hover {
  color: #00736a;
}
