.categoryListContainer {
  margin-top: 2rem;
  grid-column: 1/3;
}

.header {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.categoryList {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.categoryUnselected,
.categorySelected {
  margin: 0.9rem 0;
}
.categorySelected:hover,
.categoryUnselected:hover {
  cursor: pointer;
}
.categorySelected,
.categoryUnselected:hover {
  color: #00736a;
}
