.categoryNames {
  color: #212121;
  font-family: 'Halant';
  font-size: 24px;
  margin-bottom: 135px;
}

.count {
  font-family: 'Karla';
  font-size: 12px;
  margin-left: 24px;
}

.leftSideSpace {
  margin-left: 145px;
}
