@import url('https://fonts.googleapis.com/css?family=Halant:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

* {
  transition: all 0.2s ease;
}

.header {
  color: rgba(33, 33, 33, 0.9);
  font-family: 'Halant', serif;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 4.5rem;
}

.chooseVibe {
  padding: 1rem;
  background: white;
  margin: 2rem auto 0rem auto;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  width: 13rem;
  border-radius: 4px;
  box-shadow: #2b4c3c40 0rem 0.5rem 0.9rem;
}

.caretUp,
.caretDown {
  margin-left: 2rem;
  font-size: 1.1rem;
}
.caretUp:active,
.caretDown:active {
  transform: scale(0.5);
}
.caretUp {
  transform: rotate(180deg);
}
.caretDown {
  transform: rotate(0deg);
}

.menuOpen,
.menuClosed {
  background: white;
  list-style: none;
  margin: auto;
  box-shadow: #2b4c3c40 0rem 1rem 0.9rem;
  border-radius: 4px;
  width: 11rem;
  padding: 1rem 2rem;
  color: #212121;
  border-top: solid 2px #fec32d;
  overflow: hidden;
}
.menuOpen {
  height: 16rem;
  opacity: 1;
}
.menuClosed {
  height: 0;
  opacity: 0;
}

.menuItem {
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  margin-bottom: 1rem;
  transition: all 0.05s linear;
}

.carousel {
  display: flex;
  flex-direction: row;
}

.card {
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 20rem;
  background: white;
  margin: 0 1rem;
}

.chooseVibe {
  padding: 1rem;
  background: white;
  margin: 2rem auto 0rem auto;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  width: 13rem;
  border-radius: 4px;
  box-shadow: #2b4c3c40 0rem 0.5rem 0.9rem;
}

.caretUp,
.caretDown {
  margin-left: 2rem;
  font-size: 1.1rem;
}
.caretUp:active,
.caretDown:active {
  transform: scale(0.5);
}

.caretUp {
  transform: rotate(0deg);
}

.caretDown {
  transform: rotate(180deg);
}

.menuOpen,
.menuClosed {
  background: white;
  list-style: none;
  margin: auto;
  box-shadow: #2b4c3c40 0rem 1rem 0.9rem;
  border-radius: 4px;
  width: 11rem;
  padding: 1rem 2rem;
  color: #212121;
  border-top: solid 2px #fec32d;
}

.menuOpen {
  height: 16rem;
  opacity: 1;
}

.menuClosed {
  height: 0;
  opacity: 0;
}

.menuItem {
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  margin-bottom: 1rem;
  transition: all 0.05s linear;
}
.menuItem:hover {
  cursor: pointer;
  color: #1ece77;
}
.menuItem:active {
  transform: scaleX(0.9);
}
