@import url('https://fonts.googleapis.com/css?family=Halant:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

* {
  transition: all 0.2s ease;
}

.header {
  color: rgba(33, 33, 33, 0.9);
  font-family: 'Halant', serif;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 3.5rem;
}

.chooseVibe {
  padding: 1rem;
  font-size: 1.1rem;
  background: white;
  margin: 2rem auto 1rem auto;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  width: 17rem;
  border-radius: 4px;
  box-shadow: rgba(43, 76, 60, 0.25098) 0rem 0.5rem 0.9rem;
  text-align: center;
}
.chooseVibe:hover {
  background: #fec32d;
  cursor: pointer;
}
.chooseVibe:active {
  transform: scale(0.9);
  box-shadow: rgba(43, 76, 60, 0.25098) 0rem 0.3rem 0.3rem;
}

.caretUp,
.caretDown {
  margin-left: 2rem;
  font-size: 1.1rem;
}
.caretUp {
  transform: rotate(180deg);
}
.caretDown {
  transform: rotate(0deg);
}
