.nookCard {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 12px 19px 0 rgba(0, 0, 0, 0.03),
    0 -12px 19px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 378px;
  justify-content: space-around;
  margin: 1rem;
  width: 29%;
}

.nookCardPhoto {
  width: 100%;
}

.carouselContainer {
  position: relative;
}

.arrowRightClass,
.arrowLeftClass {
  position: absolute;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
}

.arrowRightClass {
  top: 45%;
  left: 85%;
}

.arrowLeftClass {
  top: 45%;
  left: 7%;
}

.nookInfoTop,
.nookInfoBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.nookInfoTop {
  margin-top: -2.6rem;
}

.nookInfoBottom {
  margin-top: -2rem;
}

.nookCardName {
  font-family: 'Halant';
  font-size: 18px;
  font-weight: bold;
}

.userPhoto {
  border-radius: 50%;
  width: 2rem;
}

.plantTotal {
  font-family: 'Karla';
  font-size: 14px;
}
