.header {
  color: rgba(33, 33, 33, 0.9);
  font-family: 'Halant', serif;
  font-size: 3.6rem;
  margin-top: 2.5rem;
  text-align: center;
  display: block;
}

.nooksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
