.plantBox {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 12px 19px 0 rgba(0, 0, 0, 0.03),
    0 -12px 19px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 145px;
  width: 436px;
}

.plantName {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.plantPic {
  height: 80%;
  width: 340px;
}
