.downArrow {
  transform: rotate(90deg);
  border: none;
  margin-left: 100px;
  background-color: white;
}

.dropDownButton {
  background-color: white;
  border-radius: 4px;
  border: none;
}

.dropDownTitle {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 16px;
  margin-left: 35px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 35px;
  width: 230px;
}

.dropDownContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
  position: relative;
}
