.plantTypeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 5rem 0 5rem;
}

.plantTypeCard {
  background: white;
  border-radius: 4px;
  color: rgba(33, 33, 33, 0.9);
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  height: 33rem;
  margin-bottom: 3rem;
  min-width: 20rem;
  padding: 1rem;
  text-align: center;
  width: 29%;
}

.plantTypeCardPhoto {
  height: 80%;
  margin-bottom: 2rem;
  width: 100%;
}

.luxLevelIcon {
  display: block;
  margin: 1rem auto;
}
